body#index {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
}

input[type=text] {
    width: 40%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 1.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1.5rem;
    border-radius: 10px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.wrapper>div {
    border: 2px solid rgb(233, 171, 88);
    border-radius: 5px;
    background-color: rgba(233, 171, 88, .5);
    padding: 1em;
    color: #d9480f;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
}

.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.three {
    grid-column: 1;
    grid-row: 2 / 5;
}

.four {
    grid-column: 2/ 4;
    grid-row: 3/5;
}